{% extends "templates.html" %}
{% block conteudo %}
    <table class="table table-striped">
        <thead class="thead-default">
        <tr>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Data</th>
        </tr>
        </thead>

        <tbody>
        {% for tarefa in lista_de_tarefas %}
            <tr>
                <td>{{ tarefa.titulo }}</td>
                <td>{{ tarefa.descricao }}</td>
                <td>{{ tarefa.data }}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
{% endblock %}