{% extends "templates.html" %}
{% block conteudo %}
<div class="text-center text-lg-start bg-dark text-white p-3">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Sobre o projeto
                    </h6>
                    <p>
                        Iniciado em 15/04/2022 com a última atualização no dia
                        16/04/2022, a proposta é ser um projeto de exercício e aprimoramento em CRUD.
                        As tecnologias utilizadas são Python, Flask, JavaScript, JQuery e Bootstrap.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Links Úteis
                    </h6>
                    <p>
                        <a href="https://github.com/luizrodgs/todolist" target="_blank" class="text-reset">
                            GitHub (Projeto)
                        </a>
                    </p>
                    <p>
                        <a href="https://www.python.org/" target="_blank" class="text-reset">
                            Python
                        </a>
                    </p>
                    <p>
                        <a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank" class="text-reset">
                            Flask
                        </a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Redes Sociais
                    </h6>
                    <p>
                        <a href="https://github.com/luizrodgs" target="_blank" class="text-reset">
                            GitHub (Desenvolvedor)
                        </a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/luiz-c-rodrigues-moura/" target="_blank"
                            class="text-reset">
                            LinkedIn
                        </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/luizrodgs/" target="_blank" class="text-reset">
                            Instagram
                        </a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contato
                    </h6>
                    <p>
                        Luiz Carlos Rodrigues Moura
                    </p>
                    <p>
                        <a href="mailto:luizrodgs1@gmail.com" target="_blank" class="text-reset">
                            Email: luizrodgs1@gmail.com
                        </a>
                    </p>
                    <p>
                        <a href="tel:+5591984239458" target="_blank" class="text-reset">
                            Fone: +55 91 9 8423-9458
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-13 pt-3 mb-10" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="fs-60">
            Desenvolvido por: Luiz Rodrigues - Software Developer
        </p>
    </div>

</div>
{% endblock %}